.ModalReact_Filter .modal-content{
    max-width: 400px;
    font-size: 18px;
    margin-left: auto;
}
.modal-backdrop{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
.modal-header{
    border: none;
    display: block;
    
}
.cross_img {
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.ModalReact_Filter.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(50px, 0);
}
.ModalReact_Filter.modal.show .modal-dialog {
    transform: none;
}
.ModalReact_Filter .me-2{
    cursor: pointer;
}
.ModalFilterActive_top_btn{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 14px;
}
.ModalFilterActive_top_btn span{
    cursor: pointer;
}