.AfterFooterLang{
    margin-top: 200px;
    padding: 80px 0 100px 0;
    border-top: 1px solid #e5e5e5;
    font-size: 8px;
    font-weight: 700;
}
.AfterFooterLang_cont{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}